/* ------------------------------ */
/* ----------- GLOBAL ----------- */
/* ------------------------------ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

/* Color Pallete */
:root {
    /* primary color 1 */
    --primary-color-blue: #43B4C8;
    --primary-color-blue-dark: #449ead;
    --primary-color-blue-light: #56c7db;

    /* primary color 2 */
    --primary-color-green: #84D6AE;
    --primary-color-green-dark: #6faf90;
    --primary-color-green-light: #97f0c5;

    /* primary color 3 */
    --primary-color-red: #CF7A66;
    --primary-color-red-dark: #a86353;
    --primary-color-red-light: #f3947f;

    /* text colors */
    --text-color-dark: #185864;
    --text-color-light: #ffffff;

    /* bg colors */
    --bg-color-primary: #ffffff;
    --bg-color-secondary: #DDEBEE;
}

/* ---------------------------------------- */
/* ----------- MAIN GRID LAYOUT ----------- */
/* ---------------------------------------- */
.main-grid-container {
    display: grid;
    grid-template: repeat(6, auto) / 1;
    grid-template-areas:
        "header",
        "hero",
        "welcome",
        "gallery",
        "location",
        "footer";
}

.main-grid-item {
    padding: 80px 0;
}

