/* ------------------------------ */
/* ----------- GLOBAL ----------- */
/* ------------------------------ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5rem;
    color: var(--text-color-dark);
}

/* Root */
:root {
    /* primary color 1 */
    --primary-color-blue: #43B4C8;
    --primary-color-blue-dark: #449ead;
    --primary-color-blue-light: #56c7db;
    --primary-color-blue-extra-light: #84deee;

    /* primary color 2 */
    --primary-color-green: #84D6AE;
    --primary-color-green-dark: #6faf90;
    --primary-color-green-light: #97f0c5;

    /* primary color 3 */
    --primary-color-red: #CF7A66;
    --primary-color-red-dark: #a86353;
    --primary-color-red-light: #f3947f;

    /* text colors */
    --text-color-dark: #185864;
    --text-color-light: #ffffff;

    /* bg colors */
    --bg-color-primary: #ffffff;
    --bg-color-secondary: #DDEBEE;

    /*--------------------*/

    --scroll-offset: 3rem;
}

/* Typography */
h1, h2 {
    font-style: italic;
    font-weight: 400;
    font-size: 2.5rem;
}

/* Buttons */
.btn {
    border: none;
    border-radius: 10px;
    background-color: #999;
    width: 13rem;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.btn a {
    display: block;
    padding: 0.75rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--text-color-light);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.btn::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(30deg);
    pointer-events: none;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    opacity: 0.5;
}

.btn:hover::before {
    opacity: 1;
    transform: rotate(30deg) translate(0%, 50%);
}

  /* Layout */
  .box {
    max-width: 1200px;
    margin: 0 4.5rem;
  }

/* ---------------------------------------- */
/* ----------- MAIN GRID LAYOUT ----------- */
/* ---------------------------------------- */
.main-grid-container {
    display: grid;
    grid-template: repeat(5, auto) / 1;
    grid-template-areas:
        "hero"
        "welcome"
        "gallery"
        "location"
        "footer";
}

.main-grid-item {
    padding: 4rem 0;
    scroll-margin-top: var(--scroll-offset);
}

/* Areas */

.hero-full {
    grid-area: hero;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10rem);
}

.welcome-full {
    grid-area: welcome;
    display: flex;
    justify-content: center;
}

.gallery-full {
    grid-area: gallery;
    display: flex;
    justify-content: center;
}

.location-full {
    grid-area: location;
}

.footer-full {
    grid-area: footer;
}

/* ------------------------------ */
/* ----------- HEADER ----------- */
/* ------------------------------ */
.header-bar,
.navbar {
    z-index: 1000;
}

.header-bar {
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bar img {
    width: 6rem;
    height: auto;
}

.navbar {
    background-color: var(--primary-color-blue);
    width: 100%;
    height: 3rem;
    position: sticky;
    top: 0;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: var(--text-color-light);
    font-weight: 500;
    width: 7rem;
    height: 2.5rem;
    margin: 0 0.2rem;
}

.navbar li {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in;
}

#nav-active {
    background-color: var(--primary-color-blue-light);
}

/* Navbar items transition */
.navbar li:hover,
#nav-active:hover {
    background-color: var(--primary-color-blue-extra-light);
    transition: all 150ms ease-out;
}

/* ---------------------------- */
/* ----------- HERO ----------- */
/* ---------------------------- */
.hero-box {
    max-width: 50rem;
    max-height: 30rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    color: var(--text-color-light);
}

.hero-box img {
    max-width: 15rem;
    pointer-events: none;
    user-select: none;
}

.hero-box-item-2 {
    max-width: 30rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 1.5rem;
}

.btn-hero {
    background-color: var(--primary-color-red);
    transition: all 100ms ease-in;
}

.btn-hero:hover {
    background-color: var(--primary-color-red-light);
    transition: all 150ms ease-out;
}

.btn-hero:active {
    background-color: var(--primary-color-red-dark);
    transition:none;
}

.btn-hero::before {
    top: -50%;
    left: -50%;
    width: 140%;
    height: 180%;
}

/* ------------------------------- */
/* ----------- WELCOME ----------- */
/* ------------------------------- */
.welcome-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 6rem;
}

.welcome-box-item-1 {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
}

.welcome-full img {
    width: 34rem;
    height: 21rem;
    overflow: hidden;
    object-fit: cover;
    object-position: 0 -50px;
    border-radius: 10px;
    box-shadow: -5px 5px 15px 0 #00000015;
}

/* ------------------------------- */
/* ----------- GALLERY ----------- */
/* ------------------------------- */
.gallery-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-title-h {
    color: white;
    font-weight: 300;
    font-size: 4.5rem;
    position: relative;
    top: -3.2rem;
}

.gallery-full {
    background-color: var(--bg-color-secondary);
}

.gallery-box {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    width: 100%;
}

.gallery-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 2rem;
}

.gallery-grid-item {
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    min-height: 276px;
    /* border: 1px solid red; */
    /* box-shadow: -5px 5px 15px 0 #00000010; */
}

.gallery-grid-item-1 {
    grid-area: 1 / 1 / span 1 / span 2;
    max-height: 282px;
}

.gallery-grid-item-3 {
    grid-area: 1 / 4 / span 2 / span 1;
}

.gallery-grid-item-3 img {
    width: 200%;
}

.btn-gallery {
    background-color: var(--primary-color-green);
    transition: all 100ms ease-in;
    width: 100%;
    box-shadow: -5px 5px 15px 0 #00000010;
}

.btn-gallery:hover {
    background-color: var(--primary-color-green-light);
    transition: all 150ms ease-out;
}

.btn-gallery:active {
    background-color: var(--primary-color-green-dark);
    transition:none;
}

.btn-gallery::before {
    top: -50%;
    left: -10%;
    width: 100%;
    height: 700%;
}